@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
.containerApp{
  scroll-behavior: smooth;
 
  width: 100%;
 
  
  overflow-x: hidden;
}

*{
  font-family: 'Montserrat', sans-serif !important;
}
.backgroundWebsite{
  background: linear-gradient(to right,#0048AA, #001A7F);

 
}

.animate {
  animation: scroll 20s linear infinite;
}

.btn{
  @apply shadow-md py-3 px-6 rounded-md transition duration-300;
}

.btn-blue{
  @apply bg-blue-600 text-white;
}

.btn-grey{
  @apply bg-neutral-600	text-white;
}


.h1{
  font-size: 68px;
}

.h2{
  font-size: 68px!important;
}
.block-text{
  font-size: 17px;
}

.flex-forced{
  display: flex !important;
}

.slick-prev, .slick-next {
  font-size: 15px !important;
}

 .slick-prev:before, .slick-next:before  {
  content: '' !important;
}

.slick-list{
  
  margin:35px !important;
}



.image-clignote  {
  animation-duration: 1.5s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
}

.react-tel-input .special-label {
  display:none !important;
}

.react-tel-input .form-control {
  padding: 12px 14px 12px 58px !important;
  border-radius: 5px 0 0 5px !important;
  width:100% !important;
}
.react-tel-input{
 width:18rem !important;
}

@keyframes clignoter {
  0%   { opacity:1; }
  40%   {opacity:0.7; }
  100% { opacity:1; }
}

@media only screen and (max-width: 1000px) {
  .navbg{
    background-color:#0048AA;
  }
  
}